@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  
  background-color: #DAD6CD;
}

body {
  color: #544738;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
